.HomeScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
}

.HomeScreen__title {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.HomeScreen__button {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  transition-property: color;
  transition-timing-function: ease;
  transition-duration: 200ms;
  font-weight: bolder;
}

.HomeScreen__button:hover {
  color: #8360c3;
}

.HomeScreen__products {
  margin-top: 10px;
  background-color: white;
  border-radius: 15px;
  padding: 10px 0px;
  min-width: 850px;
  min-height: 400px;
  transition-property: all;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.HomeScreen__products:hover {
  transform: scale(1.01);
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
}

.ag-theme-balham {
  box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1);
  border: 2px solid #f0f0f0;
  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  display: block;
  height: 400px;
  width: 95%;
  font-size: 1rem !important;
  margin: 0;
}
